@page "/in-app"
@inject NavigationManager NavigationManager
@inject HttpClient HttpClient

<div class="dashboard-container row">
    <div class="group_4 row">
        <div class="group_1 column">
            <div class="group column">
                <div class="group_2 column">
                    <h4 class="h4">Hi, Sarah!</h4>
                    <p class="typography__subtitle-1 text">We have some great suggestions for your next travel! We've searched the whole web to provide you with these rare findings - special for you!</p>
                </div>
            </div>
            <div class="group_6 column">
                <div class="group_13 row">
                    <h6 class="h6">Latest in articles</h6>
                    <IgbButton Variant="ButtonVariant.Outlined" @onclick="@(e => Navigate("/in-app/articles"))" class="button" dashboard-scope>
                        view all ARTICLES
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                </div>
                <div class="group_14 group_16 row">
                    @foreach (var item in travelAppDataSelectedArticles)
                    {
                        <IgbCard Outlined="true" class="card" dashboard-scope>
                            <IgbCardMedia>
                                <img src="@item.Image_url" />
                            </IgbCardMedia>
                            <IgbCardHeader>
                                <h3 slot="title">@item.Title</h3>
                                <h5 slot="subtitle">@item.Subtitle</h5>
                            </IgbCardHeader>
                            <IgbCardActions class="actions-content" dashboard-scope>
                                <IgbButton Variant="ButtonVariant.Flat">
                                    <span class="material-icons">bookmark_border</span>
                                    <IgbRipple></IgbRipple>
                                </IgbButton>
                                <IgbButton Variant="ButtonVariant.Flat">
                                    <span class="material-icons">share</span>
                                    <IgbRipple></IgbRipple>
                                </IgbButton>
                                <IgbButton Variant="ButtonVariant.Outlined" class="button_1" dashboard-scope>
                                    read
                                    <IgbRipple></IgbRipple>
                                </IgbButton>
                            </IgbCardActions>
                        </IgbCard>
                    }
                    <div class="group_10 column">
                        <IgbButton Variant="ButtonVariant.Outlined" @onclick="@(e => Navigate("/in-app/articles"))" class="button_1" dashboard-scope>
                            VIEW ALL
                            <IgbRipple></IgbRipple>
                        </IgbButton>
                    </div>
                </div>
            </div>
            <div class="group_7 column">
                <div class="group_13 group_16 row">
                    <h6 class="h6">Destinations</h6>
                    <IgbButton Variant="ButtonVariant.Outlined" class="button" dashboard-scope>
                        VIEW ALL DESTINATIONS
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                </div>
                <div class="group_14 group_16 row">
                    @foreach (var item in travelAppDataDestinations)
                    {
                        <IgbCard Outlined="true" class="card" dashboard-scope>
                            <IgbCardMedia>
                                <img src="@item.Image_url" />
                            </IgbCardMedia>
                            <IgbCardHeader>
                                <h3 slot="title">@item.Title</h3>
                                <h5 slot="subtitle"> </h5>
                            </IgbCardHeader>
                            <IgbCardActions class="actions-content" dashboard-scope>
                                <IgbButton Variant="ButtonVariant.Flat">
                                    <span class="material-icons">bookmark_border</span>
                                    <IgbRipple></IgbRipple>
                                </IgbButton>
                                <IgbButton Variant="ButtonVariant.Flat">
                                    <span class="material-icons">share</span>
                                    <IgbRipple></IgbRipple>
                                </IgbButton>
                                <IgbButton Variant="ButtonVariant.Outlined" class="button_1" dashboard-scope>
                                    view
                                    <IgbRipple></IgbRipple>
                                </IgbButton>
                            </IgbCardActions>
                        </IgbCard>
                    }
                    <div class="group_10 column">
                        <IgbButton Variant="ButtonVariant.Outlined" class="button_1" dashboard-scope>
                            discover more
                            <IgbRipple></IgbRipple>
                        </IgbButton>
                    </div>
                </div>
            </div>
            <div class="group_11 column">
                <div class="group_13 group_16 row">
                    <h6 class="h6">My travel lists</h6>
                    <IgbButton Variant="ButtonVariant.Outlined" class="button" dashboard-scope>
                        VIEW ALL LISTS
                        <IgbRipple></IgbRipple>
                    </IgbButton>
                </div>
                <div class="group_14 row">
                    <IgbDataGrid DataSource="northwindProducts" AutoGenerateColumns="false" Density="ControlDisplayDensity.Cosy" SelectionMode="GridSelectionMode.None" Width="100%" Height="200px" class="grid" dashboard-scope>
                        <IgbTextColumn HeaderText="productID" Field="ProductID" IsFilteringEnabled="true"></IgbTextColumn>
                        <IgbTextColumn HeaderText="supplierID" Field="SupplierID" IsFilteringEnabled="true"></IgbTextColumn>
                        <IgbTextColumn HeaderText="categoryID" Field="CategoryID" IsFilteringEnabled="true"></IgbTextColumn>
                        <IgbTextColumn HeaderText="quantityPerUnit" Field="QuantityPerUnit" IsFilteringEnabled="true"></IgbTextColumn>
                        <IgbTextColumn HeaderText="unitPrice" Field="UnitPrice" IsFilteringEnabled="true"></IgbTextColumn>
                        <IgbTextColumn HeaderText="unitsInStock" Field="UnitsInStock" IsFilteringEnabled="true"></IgbTextColumn>
                        <IgbTextColumn HeaderText="unitsOnOrder" Field="UnitsOnOrder" IsFilteringEnabled="true"></IgbTextColumn>
                        <IgbTextColumn HeaderText="reorderLevel" Field="ReorderLevel" IsFilteringEnabled="true"></IgbTextColumn>
                        <IgbTextColumn HeaderText="discontinued" Field="Discontinued" IsFilteringEnabled="true"></IgbTextColumn>
                        <IgbTextColumn HeaderText="name" Field="Name" IsFilteringEnabled="true"></IgbTextColumn>
                    </IgbDataGrid>
                </div>
            </div>
        </div>
        <div class="group_3 column">
            <div class="group_9 row">
                <h6 class="h6">Photos</h6>
                <IgbButton Variant="ButtonVariant.Outlined" class="button" dashboard-scope>
                    GO TO ALBUM
                    <IgbRipple></IgbRipple>
                </IgbButton>
            </div>
            <div class="group_5 column">
                <div class="group_15 column">
                    <div class="group_12 row">
                        <div class="group_8 column">
                            @foreach (var item in travelAppDataImageSet1)
                            {
                                <img src="@item.Image_url" class="image" />
                            }
                        </div>
                        <div class="group_8 column">
                            @foreach (var item in travelAppDataImageSet2)
                            {
                                <img src="@item.Image_url" class="image" />
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private TravelAppData.SelectedArticlesType[] travelAppDataSelectedArticles = Array.Empty<TravelAppData.SelectedArticlesType>();
    private TravelAppData.DestinationsType[] travelAppDataDestinations = Array.Empty<TravelAppData.DestinationsType>();
    private Northwind.ProductsType[] northwindProducts = Array.Empty<Northwind.ProductsType>();
    private TravelAppData.ImageSet1Type[] travelAppDataImageSet1 = Array.Empty<TravelAppData.ImageSet1Type>();
    private TravelAppData.ImageSet2Type[] travelAppDataImageSet2 = Array.Empty<TravelAppData.ImageSet2Type>();

    protected override async Task OnInitializedAsync()
    {
        travelAppDataSelectedArticles = await HttpClient.GetFromJsonAsync<TravelAppData.SelectedArticlesType[]>("static-data/travel-app-data-selected-articles.json") ?? travelAppDataSelectedArticles;
        travelAppDataDestinations = await HttpClient.GetFromJsonAsync<TravelAppData.DestinationsType[]>("static-data/travel-app-data-destinations.json") ?? travelAppDataDestinations;
        travelAppDataImageSet1 = await HttpClient.GetFromJsonAsync<TravelAppData.ImageSet1Type[]>("static-data/travel-app-data-image-set-1.json") ?? travelAppDataImageSet1;
        travelAppDataImageSet2 = await HttpClient.GetFromJsonAsync<TravelAppData.ImageSet2Type[]>("static-data/travel-app-data-image-set-2.json") ?? travelAppDataImageSet2;
        northwindProducts = await HttpClient.GetFromJsonAsync<Northwind.ProductsType[]>("static-data/northwind-products.json") ?? northwindProducts;
    }
    private void Navigate(string path)
    {
        NavigationManager.NavigateTo(path);
    }
}
